.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-item-container {
  /* border-style: dotted; */
  width: 100%;
  padding: 3%;
  text-align: center;
}

.image-item-selected-container {
  /* border-style: dotted; */
  width: 100%;
  /* padding: %; */
  text-align: center;
}
.responsive {
  width: 100%;
  height: auto;
  border-radius: 13px;
  box-shadow: 1px 4px 15px 1px grey;
}

.responsive2 {
  border-radius: 13px;
  width: 100%;
  height: auto;
  box-shadow: 15px 15px 5px grey;
  transform: scale(1.25, 1.25);
  /* box-shadow: 10px 10px 5px grey; */
}

img { transition: all .2s ease-in-out; }

img:hover {
  /* width: 110%; */
  height: auto;
  box-shadow: 10px 10px 5px  grey;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  /* border-style: dotted; */
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.border {
  /* border-style: dotted; */
  text-align: right;
}

.container-item {
  border-style: dotted;
  height: 100%;
  display: flex;
}

.label {
  text-align: right;
  color: #5d5d5d;
}

.title {
  /* margin-bottom: 50px; */
  /* text-align: right; */
  color: #9D0000;
  
}

.button-submit {
  background-color: #9D0000;
}





